<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:fragment="header">
    <header class="navbar navbar-fixed-top bs-docs-nav navbar-inverse" id="navbar-top"
            role="banner">
        <div class="container-fluid" id="navbar-top-container">
            <nav class="collapse navbar-collapse bs-navbar-collapse left" role="navigation">
                <ul class="nav navbar-nav" id="preset-bar">

                    <li class="active"><a href="/">Home</a></li>
                    <li sec:authorize-url="/users" class="active"><a href="/users">Users</a></li>
                    <li sec:authorize-url="/roles" class="active"><a href="/roles">Groups</a></li>
                    <li sec:authorize-url="/rights" class="active"><a href="/rights">Rights</a></li>
                    <li sec:authorize-url="/audit" class="active"><a href="/audit">Audit</a></li>
                    <li sec:authorize-url="/logout" class="active"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
</th:block>
</html>
