<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div class="container" layout:fragment="content">
    <table class="table">
        <tr>
            <th class="col-md-offset-3 col-md-3">Name</th>
            <th class="col-md-3">Code</th>
            <th class="col-md-1"><!-- --></th>
        </tr>

        <th:block th:each="role : ${list}">
            <tr>
                <td th:text="${role.name}">Username</td>
                <td th:text="${role.code}">Organization</td>
                <td><a href="/roles/1" th:href="@{'/roles/' + ${role.id}}" class="btn btn-success btn-xs custom-width">edit</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
