<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-mdoffset-2 col-md-8">
            <form th:object="${role}" method="post">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <td><input type="text" th:field="*{id}" readonly="readonly" value="ID"/></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" th:field="*{name}" value="name"/></td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td><input type="text" th:field="*{code}" value="code"/></td>
                    </tr>
                    <tr>
                        <th>Permissions</th>
                        <td>
                            <select th:field="*{rights}" size="10" multiple="multiple">
                                <option th:each="permission : ${permissions}"
                                        th:value="${permission.id}"
                                        th:text="${permission.path}">Permission select
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="button" type="submit" value="Save"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>


